<h1>About this app</h1>
<h3>This app allows CRUD operations for Articles which are persisted in MongoDB.
<br>
Application is written in Ruby on Rails.</h3>

<%= link_to 'Home Page', welcome_home_path, class: "btn btn-default" %>