<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://github.com/ashesh1105/ruby-on-rails-project">
            Complete Ruby on Rails Developer Tutorial (student)</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", welcome_about_path %></li>
            </ul>
        </nav>
    </footer>
</div>